# Dataset-03 STMF Mortality Dataset
## Name: Tejveer Singh Goraya
## Student ID- 19202687
## MSCDA-Group A
## Group 25

## Importing Libraries

In [ ]:
import json
import pymongo
from pymongo import MongoClient

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

from sqlalchemy import create_engine
import psycopg2 
import io

## Connecting to MongoDB Cluster and Collection

In [ ]:
#Connecting to MongoDB Cluster
cluster = pymongo.MongoClient("mongodb+srv://x19202687:5cLGgQGJ6Eopr7fQ@clusterdap.ozzj2.mongodb.net/Dataset03?retryWrites=true&w=majority")

In [ ]:
#Set DB name
db = cluster["Dataset03"]

In [ ]:
# set collection name
collection= db["world_mort_raw"]

## Exporting csv file to MongoDB

In [ ]:
#export Dataset03 to MongoDB
df = pd.read_csv("..\Datasets\DS03 - World\stmf_final.csv")
data = df.to_dict('records')
collection.insert_many(data, ordered=False)
print("stmf_final.csv has been Exported to Mongo DB Server")

## Performing pre-processing operations on MongoDB Collection

In [ ]:
#tranforming the data in MongoDB

#converting the "MonthOfDeath"

vals = {
        101:'Jan',
        102:'Feb',
        103:'Mar',
        104:'Apr',
        105:'May',
        106:'Jun',
        107:'Jul',
        108:'Aug',
        109:'Sep',
        110:'Oct',
        111:'Nov',
        112:'Dec'
        }

 

for key,value in vals.items():
    print(key,value)
    myquery = { 'MonthOfDeath': key } # select query with old columns value
    newvalues = { "$set": { 'month': value } } #creates new column with new value
    results = collection.update_many(myquery, newvalues)

In [ ]:

#converting the "Marital_Status"


vals = {
    'S':'single',
    'D':'divorced',
    'W':'widowed',
    'U':'unknown',
    'M':'married'
        }
for key,value in vals.items():
    print(key,value)
    myquery = { 'Marital_Status': key } # select query with old columns value
    newvalues = { "$set": { 'marital': value } } #creates new column with new value
    results = collection.update_many(myquery, newvalues)

In [ ]:
#converting the "Cause_Of_Death"

vals = {
        1:'accident',
        2:'suicide',
        3:'homicide',
        4:'unknown',
        5:'law/war',
        7:'natural',
        'NaN' :'not_specified'
         }

 

for key,value in vals.items():
    print(key,value)
    myquery = { 'Cause_Of_Death': key } # select query with old columns value
    newvalues = { "$set": { 'type_death': value } } #creates new column with new value
    results = collection.update_many(myquery, newvalues)

In [ ]:
#converting the "Sex"

vals = {
        'M':'male',
        'F': 'female'
         }

 

for key,value in vals.items():
    print(key,value)
    myquery = { 'Sex': key } # select query with old columns value
    newvalues = { "$set": { 'sex' : value } } #creates new column with new value
    results = collection.update_many(myquery, newvalues)

In [ ]:
#converting the "Day of week"

vals= {
       1:'sunday',
       2:'monday',
       3:'tuesday',
       4:'wednesday',
       5:'thursday',
       6:'friday',
       7:'saturday',
       9:'unknown'
        }

 

for key,value in vals.items():
    print(key,value)
    myquery = { 'Day_of_Death': key } # select query with old columns value
    newvalues = { "$set": { 'day_of_death': value } } #creates new column with new value
    results = collection.update_many(myquery, newvalues)

In [ ]:
#converting the "Race"

vals = {
        1:'White',
        2:'Black',
        3:'American_Indian ',
        4:'Chinese',
        5:'Japanese',
        6:'Hawaiian',
        7:'Filipino',
        18:'Asian_Indian',
        28:'Korean',
        38:'Samoan',
        48:'Vietnamese',
        58:'Guamanian',
        68:'Other',
        78:'Pacific_Islander'
          }

 

for key,value in vals.items():
    print(key,value)
    myquery = { 'Race': key } # select query with old columns value
    newvalues = { "$set": {'race': value } } #creates new column with new value
    results = collection.update_many(myquery, newvalues)

In [ ]:
#converting the Age_Recode
vals = {
        1:'Under 1 year',
        2 :'1-4 years',
        3 :'5-14 years',
        4 :'15-24 years',
        5: '25-34 years',
        6: '35-44 years',
        7: '45-54 years',
        8: '55-64 years',
        9: '65-74 years',
       10: '75-84 years',
       11: '85 years and over',
       12: 'Age not stated'
       }
 
for key,value in vals.items():
    print(key,value)
    myquery = { 'Age_Recode': key } # select query with old columns value
    newvalues = { "$set": { 'age_group': value } } #creates new column with new value
    results = collection.update_many(myquery, newvalues)

## Importing the Collection into python DataFrame

In [ ]:
#inserting MongoDB data into DF

records = collection.find({})
df_stmf= pd.DataFrame(list(records))

In [ ]:
df_stmf

In [ ]:
#droping some of the columns
 
df_stmf=df_stmf.drop(columns=['_id','MonthOfDeath','Sex','Marital_Status','Day_of_Death','Race','Cause_Of_Death','Age_Recode','D0_14','D15_64','D65_74','D75_84','D85p','DTotal','R0_14','R15_64','R65_74','R75_84','R85p','RTotal'], axis=1)

In [ ]:
df_stmf=df_stmf.rename(columns={'ICD10':'icd10_code','CountryCode':'country_code','Forecast':'forecast','Split':'split','SplitSex':'split_sex','Autopsy':'autopsy','Year':'year'},inplace = False)

In [ ]:
df_stmf

# Visualizations on Dataframe

In [ ]:
sns.set()
sns.set_context('poster',rc={"grid.linewidth": 5})
sns.set_style("whitegrid")
colors = ["#5998B1","#406F82","#264653","#287271","#2a9d8f","#8AB17D","#E9C46A","#EFB366","#F4A261","#E76F51","#C53D1B","#923B26"]
f_folors = ["#E76F51","#F4A261","#E9C46A","#2A9D8F","#264653"]

bin_colors = ["#264653","#2A9D8F"]
sns.set_palette(sns.color_palette(colors))
mul_palette = sns.color_palette(colors)
bin_palette = sns.color_palette(bin_colors)
f_palette = sns.color_palette(f_folors)
sns.set(rc={'figure.figsize':(10,5)}, font_scale=1.5)
sns.set_style({'axes.facecolor':'white', 'grid.color': '.8','grid.linestyle': '--'})

In [ ]:
plt.figure(figsize=(7.5,10))
mul_palette = sns.color_palette(colors)
ax = sns.countplot( y = 'age_group',data=df_world_from_postgres, palette=mul_palette)
ax.set(ylabel="",title='Number of Death with respect to Age-Group - World Data')
ax.axes.xaxis.set_visible(False)

In [ ]:
axn=sns.lineplot( df_world_from_postgres['type_death'], df_world_from_postgres['month'])
plt.title('Death Per Month in World')
ax.axes.xaxis.set_visible(False)
axn.set(xlabel="Cause of Death")
axn.axes.xaxis.set_visible(True)

In [ ]:
#Death by gender

axn = sns.countplot(x='sex',data=df_stmf, order = df_stmf.sex.value_counts().index)
axn.set(ylabel="",title="Death by gender - World Data")

In [ ]:
#Heatmap for split sex

axn = sns.heatmap(df_stmf.corr(), annot = True, cmap = 'viridis')
axn.set(ylabel="",title="Split Sex Distribution - World Data")
axn.axes.xaxis.set_visible(True)

In [ ]:
# Pairplot for forecast distribution

sns.pairplot(df_world_from_postgres)

In [ ]:
#Countplot - Death by Causes

axn = sns.countplot(y='type_death',data=df_stmf, order = df_stmf.type_death.value_counts().index)
axn.set(ylabel="",title="Death By Causes - World Data")

In [ ]:
#Death by Age Group

axn = sns.countplot(y='age_group',data=df_stmf, order = df_stmf.age_group.value_counts().index)
axn.set(ylabel="",title="Death By Age Group - World Data")

In [ ]:
#Death by Race

axn = sns.countplot(y='race',data=df_stmf, order = df_stmf.race.value_counts().index)
axn.set(ylabel="",title="Death By Racial indentity - World Data")

In [ ]:
#Death by Marital Status

axn = sns.countplot(y='marital',data=df_stmf, order = df_stmf.marital.value_counts().index)
axn.set(ylabel="",title="Death By Marital Status - World Data")

In [ ]:
#Death by Month

axn = sns.countplot(y='month',data=df_stmf, order = df_stmf.month.value_counts().index)
axn.set(ylabel="",title="Death By Month - World Data")

In [ ]:
#Death by Day Of Death

axn = sns.countplot(y='day_of_death',data=df_stmf, order = df_stmf.day_of_death.value_counts().index)
axn.set(ylabel="",title="Death By Day of Week - World Data")

In [ ]:
#Death by Race

axn = sns.countplot(y='race',data=df_stmf, order = df_stmf.race.value_counts().index)
axn.set(ylabel="",title="Death By Racial indentity")

## Connecting to PostGres

In [ ]:
#connecting to postgres

import sqlalchemy
import psycopg2
import pymysql
import psycopg2.extras as extras
conn = psycopg2.connect(
    host="ncirl-az01.westeurope.cloudapp.azure.com",
    database="remotedap",
    user="remotedap2",
    password="Hola1234",
    port=5432)

from sqlalchemy import create_engine
engine = create_engine('postgresql://remotedap2:Hola1234@ncirl-az01.westeurope.cloudapp.azure.com:5432/remotedap')

### Exporting Data to Postgres server

In [ ]:
#to_sql method works to upload dataframe to SQL

df_stmf.to_sql('world_mort', engine)

## Processing Data in Postgres to add ICD 10 Code and ICD 10 Chapters

In [ ]:
cursor = conn.cursor()
cursor.execute("ALTER TABLE world_mort ADD COLUMN icd10_chapter varchar(7);")
cursor.execute("ALTER TABLE world_mort ADD COLUMN icd10_block NUMERIC;")
conn.commit()
cursor.close()

In [ ]:
cursor = conn.cursor()
cursor.execute("update world_mort set icd10_chapter='A00–B99' where icd10_code LIKE '%A%';")
cursor.execute("update world_mort set icd10_chapter='C00–D48' where icd10_code LIKE '%B%';")
cursor.execute("update world_mort set icd10_chapter='D50–D89' where icd10_code LIKE '%C%';")
cursor.execute("update world_mort set icd10_chapter='E00–E90' where icd10_code LIKE '%D%';")
cursor.execute("update world_mort set icd10_chapter='F00–F99' where icd10_code LIKE '%E%';")
cursor.execute("update world_mort set icd10_chapter='G00–G99' where icd10_code LIKE '%F%';")
cursor.execute("update world_mort set icd10_chapter='H00–H59' where icd10_code LIKE '%G%';")
cursor.execute("update world_mort set icd10_chapter='H60–H95' where icd10_code LIKE '%H%';")
cursor.execute("update world_mort set icd10_chapter='I00–I99' where icd10_code LIKE '%I%';")
cursor.execute("update world_mort set icd10_chapter='J00–J99' where icd10_code LIKE '%J%';")
cursor.execute("update world_mort set icd10_chapter='K00–K93' where icd10_code LIKE '%K%';")
cursor.execute("update world_mort set icd10_chapter='L00–L99' where icd10_code LIKE '%L%';")
cursor.execute("update world_mort set icd10_chapter='M00–M99' where icd10_code LIKE '%M%';")
cursor.execute("update world_mort set icd10_chapter='N00–N99' where icd10_code LIKE '%N%';")
cursor.execute("update world_mort set icd10_chapter='O00–O99' where icd10_code LIKE '%O%';")
cursor.execute("update world_mort set icd10_chapter='P00–P96' where icd10_code LIKE '%P%';")
cursor.execute("update world_mort set icd10_chapter='Q00–Q99' where icd10_code LIKE '%Q%';")
cursor.execute("update world_mort set icd10_chapter='R00–R99' where icd10_code LIKE '%R%';")
cursor.execute("update world_mort set icd10_chapter='S00–T98' where icd10_code LIKE '%S%';")
cursor.execute("update world_mort set icd10_chapter='V01–Y98' where icd10_code LIKE '%V%';")
cursor.execute("update world_mort set icd10_chapter='Z00–Z99' where icd10_code LIKE '%Z%';")
cursor.execute("update world_mort set icd10_chapter='U00–U99' where icd10_code LIKE '%U%';")
conn.commit()
cursor.close()

In [ ]:
cursor = conn.cursor()
cursor.execute("update world_mort set icd10_block='1' where icd10_chapter='A00–B99';")
cursor.execute("update world_mort set icd10_block='2' where icd10_chapter='C00–D48';")
cursor.execute("update world_mort set icd10_block='3' where icd10_chapter='D50–D89';")
cursor.execute("update world_mort set icd10_block='4' where icd10_chapter='E00–E90';")
cursor.execute("update world_mort set icd10_block='5' where icd10_chapter='F00–F99';")
cursor.execute("update world_mort set icd10_block='6' where icd10_chapter='G00–G99';")
cursor.execute("update world_mort set icd10_block='7' where icd10_chapter='H00–H59';")
cursor.execute("update world_mort set icd10_block='8' where icd10_chapter='H60–H95';")
cursor.execute("update world_mort set icd10_block='9' where icd10_chapter='I00–I99';")
cursor.execute("update world_mort set icd10_block='10' where icd10_chapter='J00–J99';")
cursor.execute("update world_mort set icd10_block='11' where icd10_chapter='K00–K93';")
cursor.execute("update world_mort set icd10_block='12' where icd10_chapter='L00–L99';")
cursor.execute("update world_mort set icd10_block='13' where icd10_chapter='M00–M99';")
cursor.execute("update world_mort set icd10_block='14' where icd10_chapter='N00–N99';")
cursor.execute("update world_mort set icd10_block='15' where icd10_chapter='O00–O99';")
cursor.execute("update world_mort set icd10_block='16' where icd10_chapter='P00–P96';")
cursor.execute("update world_mort set icd10_block='17' where icd10_chapter='Q00–Q99';")
cursor.execute("update world_mort set icd10_block='18' where icd10_chapter='R00–R99';")
cursor.execute("update world_mort set icd10_block='19' where icd10_chapter='S00–T98';")
cursor.execute("update world_mort set icd10_block='20' where icd10_chapter='V01–Y98';")
cursor.execute("update world_mort set icd10_block='21' where icd10_chapter='Z00–Z99';")
cursor.execute("update world_mort set icd10_block='22' where icd10_chapter='U00–U99';")
conn.commit()
cursor.close()

In [ ]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM world_mort WHERE icd10_block IS NULL;")
conn.commit()
cursor.close()

In [ ]:
cursor = conn.cursor()
cursor.execute("DELETE FROM world_mort WHERE icd10_block IS NULL;")
conn.commit()
cursor.close()

In [ ]:
#select * on table world_mort

cursor = conn.cursor()
cursor.execute("SELECT * FROM world_mort;")

# fetch all the matching rows 
result = cursor.fetchall()
  
# loop through the rows
for row in result:
    print(row)
    print("\n")
    
cursor.close()
# commit the changes
conn.commit()
#conn.close()

### Importing Processed Data from Postgres server

In [ ]:
df_world_from_postgres = pd.read_sql_query('select * from "world_mort"',con=engine)

In [ ]:
del df_world_from_postgres["index"]

In [ ]:
df_world_from_postgres

In [ ]:
#Death by icd code

axn = sns.countplot(y='icd10_chapter',data=df_world_from_postgres, order = df_world_from_postgres.icd10_chapter.value_counts().index)
axn.set(ylabel="ICD10 Code Standard",title="Death By ICD 10 code - worldwide")

In [ ]:
df_world_from_postgres.to_csv(r'C:\Users\yash\Desktop\NCI - Msc DA\Database and Analytics Programming\CA 2 - Final Project\STMF\Final\df_world_from_postgres.csv')