# Project 2021

#### MSc in Data Analytics 2021 
#### National College of Ireland 
#### Dublin, Ireland 
#### Module: Database and Analytics Programming (H9DAP)
#### Lecturer: Athanasios Staikopoulos

Load Libraries

In [2]:
#Allows to reload custom module modifications
%load_ext autoreload
%autoreload 2

In [3]:
#Import libraries
import pandas as pd
#Imports custom functions from 'mypackage'
from  mypackage import functions  # Custom  misc functions
from  mypackage import mongo      # Custom functions for MongoDB
from  mypackage import postgresql # Custom functions for PostgreSQL

### Get DataSet #1

In [24]:
mex_mort = postgresql.getTableToDataframe('mex_mort')

[04/25/2021-15:11:52]: Connecting to PostgeSQL ...
[04/25/2021-15:11:53]: Queryng table mex_mort ...
[04/25/2021-15:11:55]: OK: Sucesfully importred mex_mort into dataframe columns: 29 - rows: 10469
[04/25/2021-15:11:55]: Closing DB connection...

In [25]:
us_mort = postgresql.getTableToDataframe('us_mort')

[04/25/2021-15:12:43]: Connecting to PostgeSQL ...
[04/25/2021-15:12:44]: Queryng table us_mort ...
[04/25/2021-15:12:45]: OK: Sucesfully importred us_mort into dataframe columns: 10 - rows: 6239
[04/25/2021-15:12:45]: Closing DB connection...

In [26]:
world_mort = postgresql.getTableToDataframe('world_mort')

[04/25/2021-15:12:45]: Connecting to PostgeSQL ...
[04/25/2021-15:12:45]: Queryng table world_mort ...
[04/25/2021-15:12:47]: OK: Sucesfully importred world_mort into dataframe columns: 28 - rows: 5931
[04/25/2021-15:12:47]: Closing DB connection...

In [27]:
mex_mort.head()

,_id,month,age_group,education,employement,marital,state_death,type_death,place_death,icd10_block,icd10_desc,icd10_code,icd10_group,icd10_chapter,is_male,is_work_related,is_foreign,is_pregnant,is_accident,is_cancer,is_cvd,is_diabetes,is_digestive,is_mental,is_pregnancy,is_respiratory,is_virus,is_suicide,is_bacteria
0,1,Jan,55 - 64 years,Elementary,farmer,partnership,QUE,natural,public hospital,9,cerebrovascular diseases,I61,I60-I69,I00–I99,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False
1,2,Jan,75 - 84 years,None,farmer,married,GUA,natural,private hospital,9,cerebrovascular diseases,I64,I60-I69,I00–I99,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False
2,3,Feb,55 - 64 years,Elementary,farmer,single,VER,natural,public hospital,9,cerebrovascular diseases,I61,I60-I69,I00–I99,True,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3,4,May,65 - 74 years,Elementary,unemployed,married,MEX,natural,public hospital,9,cerebrovascular diseases,I67,I60-I69,I00–I99,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
4,5,Feb,75 - 84 years,Unknown,unemployed,married,CAM,natural,home,9,cerebrovascular diseases,I64,I60-I69,I00–I99,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False

In [28]:
us_mort.head()

,index,icd10_code,marital,month,place_death,day_of_death,resident_status,race,age_group,type_death
0,0,C349,married,Feb,home,friday,US_residents,White,65-74 years,None
1,1,J100,divorced,Dec,public hospital,thursday,US_residents,Black,65-74 years,None
2,2,F03,widowed,May,home,thursday,US_residents,Vietnamese,85 years and over,None
3,3,N19,widowed,Oct,private hospital,wednesday,intrastate_nonresidents,Black,75-84 years,None
4,4,K760,single,May,public hospital,thursday,US_residents,White,45-54 years,None

In [29]:
world_mort.head()

,CountryCode,Year,icd10,Age_Recode,Autopsy,D0_14,D15_64,D65_74,D75_84,D85p,DTotal,R0_14,R15_64,R65_74,R75_84,R85p,RTotal,Split,SplitSex,Forecast,month,marital,type_death,sex,day_of_death,race,icd10_chapter,icd10_block
0,BEL,2019,E149,10,N,5.000000,123.000000,137.0,228.0,499.0,992.0,0.000274,0.001752,0.011773,0.029962,0.117244,0.008861,0,0,1,Apr,married,natural,male,friday,White,F00–F99,5
1,AUT,2019,E149,8,N,5.000000,148.000000,164.0,248.0,265.0,830.0,0.000396,0.002602,0.021791,0.048558,0.186423,0.009933,0,0,1,Sep,married,natural,male,wednesday,White,F00–F99,5
2,AUT,2019,E119,8,N,8.000000,221.000000,232.0,419.0,617.0,1497.0,0.000326,0.001958,0.014390,0.035240,0.141726,0.008819,0,0,1,Mar,divorced,natural,male,thursday,White,F00–F99,5
3,BEL,2019,E112,10,N,5.000000,197.000000,198.0,293.0,311.0,1004.0,0.000262,0.002761,0.018552,0.050900,0.147818,0.009215,0,0,1,Dec,married,natural,male,thursday,Black,F00–F99,5
4,AUS2,2019,E872,11,N,4.422566,135.577434,173.0,358.0,709.0,1380.0,0.000100,0.000852,0.007701,0.028165,0.116040,0.005639,1,0,1,Jan,married,natural,male,friday,White,F00–F99,5

In [12]:
# Import Plotting libraries
import matplotlib.pyplot  as plt
import matplotlib.style as style 
import seaborn as sns

In [13]:
#sns.set_theme('bmh')
#plt.style.use('plot-style-name-goes-here')
sns.set()
sns.set_context('poster',rc={"grid.linewidth": 5})
sns.set_style("whitegrid")
#sns.set_context("notebook")
colors = ["#5998B1","#406F82","#264653","#287271","#2a9d8f","#8AB17D","#E9C46A","#EFB366","#F4A261","#E76F51","#C53D1B","#923B26"]
#colors = ["#345E6F","#264653","#287271","#2a9d8f","#e9c46a","#efb366","#f4a261","#ee8959","#e76f51","#e87153","#e97c61", '#902C14']
f_folors = ["#E76F51","#F4A261","#E9C46A","#2A9D8F","#264653"]

bin_colors = ["#264653","#2A9D8F"]
sns.set_palette(sns.color_palette(colors))
mul_palette = sns.color_palette(colors)
bin_palette = sns.color_palette(bin_colors)
f_palette = sns.color_palette(f_folors)
sns.set(rc={'figure.figsize':(10,5)}, font_scale=1.5)
sns.set_style({'axes.facecolor':'white', 'grid.color': '.8','grid.linestyle': '--'})

In [23]:
world_mort[world_mort.CountryCode == 'US']

Empty DataFrame
Columns: [CountryCode, Year, icd10, Age_Recode, Autopsy, D0_14, D15_64, D65_74, D75_84, D85p, DTotal, R0_14, R15_64, R65_74, R75_84, R85p, RTotal, Split, SplitSex, Forecast, month, marital, type_death, sex, day_of_death, race, icd10_chapter, icd10_block]
Index: []